#logo{
     }

     body{
           background-color: #ebeff5;
     }


      #totale-positivi{
           background-color: #ccccff;
      }


      #guariti{
           background-color: #00ff00;
      }

      #deceduti{
           background-color: #ff0000;
      }

      #casi-totali{
           background-color: #7CD1C0;
      }